/* Variables */
$bgColor: #f8f8f8;
$baseTextColor: #555;
$warningColor: #CE4234;

//미디어 쿼리
$overiPhone5: "screen and (min-width : 320px)";
$overiPhone6: "screen and (min-width : 376px)";
$overiPhonePlus: "screen and (min-width : 414px)";
$overPhone: "screen and (min-width : 740px)";
$overPad: "screen and (min-width : 1000px)";

/*확장속성*/
.boxclear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}